$color-magenta: #b91345;
$color-magenta-dark: #af183e;
$color-orange-light: #ca6a00;
$color-ocra: #e9ad00;
$color-yellow: #d3c47a;
$color-black: #000000;
$color-white: #ffffff;
$color-orange: #dc4627;
$color-grey: #2b2b2b;
$color-grey-light: #e2e0dc;
$color-background: #161513;